<p id="notice"><%= notice %></p>

<div class="background-absence">

<div class="wrapper">

<h1>Check-in/out Average</h1>

<table class="table">
  <thead>
    <tr class="header">
      <th>Private number</th>
      <th>Average check-in</th>
      <th>Average check-out</th>
    </tr>
  </thead>

  <tbody>
    <% @average.each do |a| %>
      <tr class="cell">
        <td><%= a[:private_number] %></td>
        <td><%= a[:average_check_in] %></td>
        <td><%= a[:average_check_out] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="container">
  <%= form_tag("/checks", method: "post") do |f| %>
    <div class="select">
      <select name="month_average"> <%= options_for_select(["1", "2","3","4","5","6","7","8","9","10","11","12"], @month_average) %></select>
    </div>
    <%= submit_tag "Search", :class => "btn-1 btn-danger btn-lg" %>
  <% end %>
</div>

<br>

</div>
